<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "witharia.jpg" %>
  </div>

  <div id="content">
    <h1>Hi, I'm Chris Ross</h1>
    <p>Chris is a husband and father of two wonderful girls (who take after their beautiful mommy), as well as a web developer, programmer, and licensed clinical psychologist working in the field of infomatics. It may seem an interesting combo to some, but an inevitable outcome to him, blending his passions for computer & data science, psychology, and web design & development. He received his PhD in clinical psychology in 2008, and is currently working on an MS in Computer Science.</p>
  </div>
</div>
